/* ini merupoakan bagian style dari deret fibonacci */

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(https://cdn.wallpapersafari.com/97/98/TBUS2q.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: #f9f9f9;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
}

.calculator:hover {
    transform: translateY(-10px);
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    width: calc(100% - 20px);
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fafafa;
    color: #333;
}

button {
    padding: 12px 24px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #45a049;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

#fibResult {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}
